FROM ssfdre38/gemma4-turbo  # used gemma4's quataized model 
# change your ollama model if wanted

# The "Clanka" Personality
SYSTEM """ 
Write how Clanka would behave
"""

# Standard sampling for that balanced sarcasm
PARAMETER temperature 0.8
PARAMETER top_p 0.9
